{
  "extends": [
    // NOTE: 마지막에 나열된 항목이 우선순위를 가짐
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "eslint:recommended",
  ],
  "plugins": ["react", "prettier", "tailwindcss"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"],
    },
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
      },
    ],
    "import/resolver": {
      "node": {
        "paths": ["src"],
      },
    },
  },
  "rules": {
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": false,
        "shorthandFirst": false,
        "shorthandLast": false,
        "noSortAlphabetically": false,
        "reservedFirst": true,
      },
    ],
    "tailwindcss/no-contradicting-classname": "error",
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/enforces-negative-arbitrary-values": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-unused-vars": "off",
    "react/react-in-jsx-scope": "off",
  },
}
