{
  "extends": [
    // NOTE: 마지막에 나열된 항목이 우선순위를 가짐
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
  ],
  "plugins": ["react", "prettier", "tailwindcss"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"],
    },
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
      },
    ],
    "import/resolver": {
      "node": {
        "paths": ["src"],
      },
    },
  },
  "rules": {
    "tailwindcss/no-contradicting-classname": "error",
    "tailwindcss/no-custom-classname": "off",
    "tailwindcss/enforces-negative-arbitrary-values": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-unused-vars": "off",
    // "import/no-unresolved": "off",
    // "react/require-default-props": "off",
    // "import/no-extraneous-dependencies": 0,
    // "prettier/prettier": ["error", { "endOfLine": "auto" }],
    // "react/prop-types": "off",
    // "jsx-a11y/label-has-associated-control": [
    //   2,
    //   {
    //     "some": ["nesting", "id"],
    //   },
    // ],
    // "react/jsx-filename-extension": [
    //   1,
    //   { "extensions": [".js", ".jsx", ".ts", ".tsx"] },
    // ],
    // "import/extensions": [
    //   "error",
    //   "ignorePackages",
    //   {
    //     "js": "never",
    //     "jsx": "never",
    //     "ts": "never",
    //     "tsx": "never",
    //   },
    // ],
  },
}
