@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-default;
  }

  input,
  button {
    @apply outline-none;
  }

  input::placeholder,
  input::-webkit-input-placeholder {
    font-size: 14px;
    color: #bdbdbd;
  }
}

@font-face {
  font-family: 'OwnglyphMinhyeChae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Minhye.woff')
    format('woff');
}
