@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-default;
  }

  input,
  button {
    @apply outline-none;
  }

  input::placeholder,
  input::-webkit-input-placeholder {
    font-size: 0.875rem;
    color: #bdbdbd;
  }

  /* 웹킷(WebKit) 기반 브라우저용 */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* 파이어폭스(Firefox)용 */
  .hide-scrollbar {
    scrollbar-width: none;
  }
}

@font-face {
  font-family: 'OwnglyphMinhyeChae';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Minhye.woff')
    format('woff');
}
@font-face {
  font-family: 'Gyobomungo2019';
  src: url('fonts/KyoboHandwriting2019.otf') format('woff');
}
